.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);

}
.header-counter {
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}

.check-box {
    display: flex;
    padding: 10px 10px 10px 10px;

}

.check-item {
   padding: 0px 0px 0px 17%;

}




