
.dws-menu {
  position: fixed;
}
.dws-menu *{
  margin: 0;
  padding: 0;
  justify-content: center;
}

.dws-menu ul,
.dws-menu ol{
  list-style: none;
}
.dws-menu > ul{
  display: flex;
  justify-content: center;
}
.dws-menu > ul li {
  position: relative;
  border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li a{
  transition: all 0.5s ease;
  display: block;
  background: #ececed;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  text-transform: uppercase;
}
.dws-menu > ul li > a i.fa{
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}
.dws-menu > ul li:first-child{
  border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
  border-right: 1px solid #b2b3b5;
}

.dws-menu li a:hover{
  background: #454547;
  color: #fff;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.5s ease;
  
}
